@import url(https://fonts.googleapis.com/css?family=Roboto:400,900);

* {
	box-sizing: border-box;
	margin: 0; padding;
	background: linear-gardient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
	background-size: cover;
}


.container {
    margin: 0 auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px repeat(2, minmax(100px, auto));
    grid-template-areas: 
        "header"
        "content"
        "footer";
}

content {grid-area: content;}
section {grid-area: section;}
footer {grid-area: footer;}


content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	overflow: hidden;
}

.veg h2 {
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
	font-size: 16px;
	color: #2a5427;
	text-align: center;
	background-color: rgba(256, 256, 256, 0.7);
	height: 10%;
}

.flex h2 {
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
	font-size: 16px;
	color: #2a5427;
	text-align: center;
	background-color: rgba(256, 256, 256, 0.7);
	height: 10%;
}

.gluten h2 {
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
	font-size: 16px;
	color: #2a5427;
	text-align: center;
	background-color: rgba(256, 256, 256, 0.7);
	height: 10%;
}

.morgon h2 {
	text-transform: uppercase;
	font-weight: 900;
	margin: 0;
	font-size: 16px;
	color: #2a5427;
	text-align: center;
	background-color: rgba(256, 256, 256, 0.7);
	height: 10%;
}

button{
    background-color: #13693A;
    border: none;
    border-radius:0;
    color: white;
    width: 49%;
    padding:15px 0;
    text-decoration: none;
    font-size: 12px;
    padding: 10px;
    transition-duration: 0.4s;
    border-radius: 8px;
    text-transform: uppercase;
}

.button1:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
.button2:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}

.content-section-1 {
	background: url(../images/veganskamatkassen.jpg);
	height: 300px;
	background-size: 100%;
	background-position: 50% 50%; 
	background-repeat: no-repeat;
	padding: 20px;
	margin: 10px 0;
}

.content-section-2 {
	background: url(../images/vegetarianbarnkassen.jpg);
	height: 300px;
	background-size: 100%;
	background-position: 50% 50%; 
	background-repeat: no-repeat;
	padding: 20px;
	margin: 10px 0;
}

.content-section-3 {
	background: url(../images/pescimatkassen.jpg);
	height: 300px;
	background-size: 100%;
	background-position: 50% 50%; 
	background-repeat: no-repeat;
	padding: 20px;
	margin: 10px 0;
}

.content-section-4 {
	background: url(../images/morgonkassen.jpg);
	height: 300px;
	background-size: 100%;
	background-position: 50% 50%; 
	background-repeat: no-repeat;
	padding: 20px;
	margin: 10px 0;
}

.info {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 50%;
	background-color: rgba(256, 256, 256, 0.6);
	margin: 26px 0;
}

.icon-text-container {
	text-align: center;
	font-size: 12px;
}

/* Tablets */
@media only screen and (min-width: 767px){

		.Matkassar {
			display: flex;
			flex-wrap: wrap;
		}

		.content-section-1 {
			height: 425px;
			width: 48%;
			border-radius: 5%;
			margin: 7px 7px;
		}

		.content-section-2 {
			height: 425px;
			width: 48%;
			border-radius: 5%;
			margin: 7px 7px;
		}
		.content-section-3 {
			height: 425px;
			width: 48%;
			border-radius: 5%;
			margin: 7px 7px;
		}
		.content-section-4 {
			height: 425px;
			width: 48%;
			border-radius: 5%;
			margin: 7px 7px;
		}

		.veg h2 {
			font-size: 22px;
		}

		.flex h2 {
			font-size: 22px;
		}

		.gluten h2 {
			font-size: 22px;
		}

		.morgon h2 {
			font-size: 22px;
		}

		.info {
			margin: 50px 0;
		}

		button {
			font-size: 16px;
			margin-top: 5%;
			padding: 5px 0;
		}

		.icon-text-container {
			text-align: center;
			font-size: 18px;
		}
}

/* Smaller desktop */
@media only screen and (min-width: 960px) and (max-width: 1200px){
		
		.Matkassar {
			display: flex;
			flex-wrap: wrap;
		}

		.content-section-1 {
			height: 600px;
			margin: 7px 7px;
		}

		.content-section-2 {
			height: 600px;
		}

		.content-section-3 {
			height: 600px;
			margin: 7px 7px;
		}

		.content-section-4 {
			height: 600px;
			margin: 7px 7px;
		}

		.veg h2 {
			font-size: 22px;
			margin-top: 10%;
		}

		.flex h2 {
			font-size: 22px;
			margin-top: 10%;
		}

		.gluten h2 {
			font-size: 22px;
			margin-top: 10%;
		}

		.morgon h2 {
			font-size: 22px;
			margin-top: 10%;
		}

		.info {
			margin: 50px 0;
			margin-top: 20%;
		}

		button {
			font-size: 16px;
			margin-top: 10%;
			padding: 10px 0;
		}

}

/* Big desktop */
@media only screen and (min-width: 1200px) {

		content {
			margin-bottom: 90px;
			margin-top: 37px;
		}

		.Matkassar {
			display: flex;
			flex-wrap: nowrap;
		}

		.content-section-1 {
			height: auto;
			margin: 7px 7px;
		}

		.content-section-2 {
			height: 600px;
		}

		.content-section-3 {
			height: 600px;
			margin: 7px 7px;
		}

		.content-section-4 {
			height: 600px;
			margin: 7px 7px;
		}

		.veg h2 {
			font-size: 22px;
			margin-top: 10%;
		}

		.flex h2 {
			font-size: 22px;
			margin-top: 10%;
		}

		.gluten h2 {
			font-size: 22px;
			margin-top: 10%;
		}

		.morgon h2 {
			font-size: 22px;
			margin-top: 10%;
		}

		.info {
			margin: 50px 0;
			margin-top: 20%;
		}

		button {
			font-size: 12px;
			margin-right: 30%;
			padding: 6px 0;
			margin: 3px 0;
		}

		.button1 {
			text-align: center;
		}

		.button2 {
			text-align: center;
		}

		.icon-text-container {
			text-align: center;
			font-size: 16px;
		}
}