*{
	box-sizing: border-box;
	margin: 0; padding;
}

.header {
    grid-area: header;
    width: 100%;
    height: 50px;
    position: fixed;
    background-color: white;/*#20452E*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    z-index: 9;
    padding-left: 105px;
}

.hamburgerlogo {
	width: 150px;
	height: 150px;
	margin: -20px;
}

.logohead {
	width: 2.5em;
	height: 2.5em;
    margin: 0 auto;
}

header i {
    margin: 5px;
    font-size: 1.2em;
    margin-right: 8px;
    margin-top: 0;
}

header i:nth-child(2) {
    margin-right: 33px;
}

header i:nth-child(3) {
    margin-right: 0;
}

label p,
header p {
    font-size: 9px;
}

header p {
    align-self: flex-end;
    margin-left: -90px;
    margin-bottom: 6px;
}

header p:last-child {
    margin-left: 5px;
    margin-right: 2px;
    margin-top: 32px;
}

/*Hamburger*/
input[type=checkbox] {
    position: fixed;
    right: -9999px;
    opacity: 0;
    }


.nav-toggle {
    display: block;
    position: fixed;
    top: 10px;
    left: 0px;
    height: 32px;
    width: 40px;
    cursor: pointer;
    z-index: 99;
    margin-left:10px;
    /* add the animation*/
    transition: margin .3s;
    }

.nav-toggle span {
    position: relative;
    display: block;
    height: 2px;
    width: 25px;
    background: #000;
    border-radius: 1px;
    /* add the animation*/
    transition: all .3s;
    }

.nav-toggle span:nth-child(1) {top: 5px;}
.nav-toggle span:nth-child(2) {top: 10px;}
.nav-toggle span:nth-child(3) {top: 15px;}
.text-menu {margin-top: 18px;}

input[type=checkbox] #basket-toggle {
    position: fixed;
    left: -9999px;
    opacity: 0;
    }

.basket-toggle {
    cursor: pointer;
    z-index: 99;
    margin-left:10px;
    /* add the animation*/
    transition: margin .3s;
}

.basket-toggle p {
    /* add the animation*/
    transition: all .3s;
    }

.basket {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    position: fixed;
    top: 100px;
    min-height: 300px;
    margin-right:-300px;
    background: #fff;
    transition: margin .3s;
    right:0;
    z-index: 99;
    text-align: center;
}



input[type=checkbox]:checked ~ .basket {
  margin-right: 0;
}

.basket_img {
    width: 55px;
    height: 55px;
}

.basket h1 {
    margin: 10px 40px 0;
    font-size: 1.4em;
}

.basket-text {
    height: 100%;
    align-self: center;
}

.price {
    height: 100%;
    align-self: center;
}

.basket-button {
    background-color: #13693A;
    border: none;
    border-radius:5px;
    color: white;
    width: 50%;
    padding:3px;
    text-decoration: none;
    font-size: 1em;
}

.basket-border {
    border-top: 1px solid rgba(51, 51, 51, 0.15);
    border-bottom: 1px solid rgba(51, 51, 51, 0.15);
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

/*.basket-border .price{
    margin-left: 60%;
}*/

.basket-total {
    width: 100%;
    margin-top: auto;
    height: 80px;
    border-top: 1px solid rgba(51, 51, 51, 0.15);
    padding-top: 5px;
}

.total-price {
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}

.basket-total button {
    width: 90%;
    margin: 10px 5% 0;
}

.span {
    display: none;
}

.span span {
    position: relative;
    display: block;
    height: 2px;
    width: 25px;
    background: #000;
    border-radius: 1px;
    /* add the animation*/
    transition: all .3s;
    }

.span span:nth-child(1) {top: 5px;}
.span span:nth-child(2) {top: 10px;}
.span span:nth-child(3) {top: 15px;}



.menu {
    display: flex;
	flex-direction: column;
	align-items: center;
    width: 300px;
    position: fixed;
    top: 50px;
    height:100%;
    margin-left:-300px;
    background: #fff;
    padding: 15px;
    /* add the animation*/
    transition: margin .3s;
    left:0;
    z-index: 10;
}

.menu a {
	margin:20px;
    font-size: 20px;
    color: #696969;
}

input[type=checkbox]:checked ~ .nav-toggle {

}

input[type=checkbox]:checked ~ .nav-toggle span:nth-child(1) {
    top: 12px;
    transform: rotate(45deg);
}

input[type=checkbox]:checked ~ .nav-toggle span:nth-child(2) {
    display: none;
}

input[type=checkbox]:checked ~ .nav-toggle span:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
}

input[type=checkbox]:checked ~ .nav-toggle p {
    display: none;
}

input[type=checkbox]:checked ~  .menu {
    margin-left: 0px;
} 

li{
	list-style: none;
	margin: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

li a::after {content:'+';transition: .2s;display: inline-block;margin-left:5px;}
li a:hover::after {content:'+';transform: rotate(45deg);}
li a:only-child::after {content:'';}

footer {
    display: flex;
    background-color: #c6c6c6;
    padding-top: 20px;
    font-size: 12px;
    padding-bottom: 10px;
    text-align: center;
}

footer div {
    border-right: 1px solid #333;
    padding: 10px 3%;
    width: 33%;
}

footer div:last-child {
    border: none;
}

h5 {font-size: 1.2em}

@media only screen and (min-width: 767px){
    .nav-toggle {display:none;}
    
    .desktop-menu {
        display: flex;
        flex-direction: row;
        position: fixed;
        background-color: #ececec;
        width: 100%;
        height: 50px;
        margin-top: 50px;
        justify-content: space-around;
    }

    .desktop-menu a {
        color: #000;
    }

    .hamburgerlogo, .desktop-logo {
        display: none;
    }
    
    .menu {
        top: 0;
        margin-left: 0;
    }

}




