@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

* {
	font-family: 'Playfair Display', serif;
}

body{
	background-color: #fff;
}

header,
section,
aside,
footer {
	margin: 0;
}

section img {
	width: 100%;
	height: auto;
}

header{
	grid-area: header;
}

section{
	grid-area: section;
}

content{
	grid-area: content;
}


footer{
	grid-area: footer;
}

h2 {
	display: flex;
	color: #FFA400;
	justify-content: center;
	font-size: 40px;
	margin-top: 100px;
}

h3 {
	color: #13693A;
	display: flex;
	justify-content:center;
	font-size: 20px;
}

.prod-summery-list li{
	list-style: initial;
}

.vegslog{
	text-align: center;
	font-size: 20px;
}

.box1 {
	min-height: 200px;
}

.omkassen button {
	display: block;
	background-color: #F0AC24;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 7px 29px;
	text-decoration: none;
	font-size: 16px;
	width: 30%;
	margin:0 auto;
}

.omkassen {
	background-color: #fff;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 14px;
}

.navrecept{
	flex-wrap: wrap;
	display: flex;
	padding: 10px;
}

.navrecept button{
	background-color: #13693A;
	border: none;
	border-radius:8px;
	color: white;
	padding: 10px 4px;
	text-decoration: none;
	font-size: 14px;
	margin: 7px;
}

.recept{
	background-color: white;
	letter-spacing: 0px;
	margin: 10px;
	padding: 0;
	font-size: 14px;
}

.recept img {
	border-radius: 3px;
}

.pris {
	background-color: white;
	display: flex;
	flex-wrap: nowrap;
	font-size: 16px;
	padding:10px 20px;
}

.pris p {
	word-spacing: 1px;

}
.text{
	padding: 10px 20px;
}

.text p{
	margin-top: 10px;
}


.button {
	align-self: flex-end;
	background-color: #F0AC24;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px 16px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 16px;
}

.container {
	margin: 0 auto;
	width: auto;
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: minmax(0px, auto) repeat(4, minmax(100px, auto));
	grid-template-areas: 
		"header"
		"section"
		"content"
		"footer";
}
/* Tablets */
@media only screen and (min-width: 767px){
	.navrecept button{
	margin:0 auto;
}

.button{
	padding: 20px 46px;
	margin:0 auto;
}

.pris {
	justify-content: space-between;
	padding: 10px 30px;
}


}

/* Smaller desktop */
@media only screen and (min-width: 960px) and (max-width: 1200px){

	.button{
	padding: 20px 46px;
	margin:0 auto;
}

}

/* Big desktop */
@media only screen and (min-width: 1200px){

}



