@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
* {
	font-family: 'Playfair Display', serif;
}

body{
	background-color: #fff;
}

header,
section,
aside,
footer {
	margin: 0;
}

section img {
	width: 100%;
	height: auto;
}

header{
	grid-area: header;
}

section{
	grid-area: section;
}

content{
	grid-area: content;
}


footer{
	grid-area: footer;
}

p {
	letter-spacing: 2px;
	
}

h2 {
	display: flex;
	color: #FFA400;
	margin-top: -300px;
	justify-content: center;
	text-shadow: 1px 1px #000;
	padding-top: 30px;
	font-size: 50px;
}

h3 {
	color: #13693A;
	display: flex;
	justify-content:center;
	margin-top: ;
	text-shadow: 1px 1px #000;
	font-size: 20px;
}

.box1 {
	min-height: 300px;
}

.omkassen button {
	background-color: #F0AC24;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 10px 36px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 10px 16px;
	margin-left:350px;
}

.omkassen {
	background-color: #fff;
	padding: 20px;
}

 p .omkassen{
	font-size: 14px;
}

.navrecept{
	display: flex;
	padding: 10px;

}

.navrecept button{
	justify-content: space-around;
	background-color: #13693A;
	border: none;
	border-radius: 5px;
	color: white;
	padding: 5px 16px;
	text-decoration: none;
	font-size: 16px;
	margin:10px;

}

.recept{
	background-color: white;
	letter-spacing: 0px;
	margin: 10px;
	padding: 0;
}

.recept img {
	border-radius: 3px;
}

.pris {
	background-color: white;
	display: flex;
	flex-wrap: nowrap;
}

.pris p {
	font-size: 18px;
	margin: 10px;
	word-spacing: 1px;
}

.button {
	  align-self: flex-end;
	  background-color: #F0AC24;
	  border: none;
	  border-radius: 5px;
	  color: white;
	  padding: 5px 16px;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 10px 16px;
}

.container {
	margin: 0 auto;
	width: auto;
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: minmax(0px, auto) repeat(4, minmax(100px, auto));
	grid-template-areas: 
		"header"
		"section"
		"content"
		"footer";
}
/*for tablets*/
@media only screen and (min-width: 600px)




