/*header,
section,
aside,
footer {
	border: 1px solid #333;
	margin: 0;
}*/

content {grid-area: content;}
section {grid-area: section;}
footer {grid-area: footer;}

.container {
	margin: 0 auto;
	width: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px repeat(2, minmax(100px, auto));
	grid-template-areas: 
		"header"
		"content"
		"footer";
}

content {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

content section {
	flex: 1 1 auto;
}

.startpage_img {
	width:200%;
	margin-left: -200px;
}

.content-section-1 {
	
}

.content-section-2 {
	height: 200px;
	background-color: #20452E;
	display: flex;
	flex-direction: row-reverse;
}

