@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap%27');
* {
    font-family: 'Playfair Display', serif;
}

content {grid-area: content;}
section {grid-area: section;}
footer {grid-area: footer;}

.container {
	margin: 0 auto;
	width: auto;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(0px, auto) repeat(2, minmax(100px, auto));
	grid-template-areas: 
		"header"
		"content"
		"footer";
}

content {
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

content section {
	flex: 1 1 auto;
}

.startpage_img {
	width:100%;
	height: 100%;
	margin-top: 50px;
}

.startpage_logo {
		width: 58%;
		margin: 50px auto 0;
		display: block;
	}

.content-section-1 {
	display: flex;
	justify-content: center;
	align-items: center!important;
	margin: 0!important;
}

.content-section-1 div:last-child {
	position: absolute;
}

.content-section2 {
	height: auto;
	background-color: #20452E;
	margin-top: -5px;
	display: flex;
	align-items: center;
	text-align: center;
	padding: 10px;
	color: #fff;
	font-size: 1.3em;
	padding: 30px;
}

.content-section2 p{
	position: static!important;
	margin: 0 auto;
}

[class*=content-section-] {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 5px 5px 0;
	color: #fff;
	border-radius: 5px;
}

[class*=content-section-] h1 {
	position: absolute;
	font-size: 2em;
	margin-top: 50px;
	margin-left: 0px;
	text-shadow: 0 0 3px black, 0 0 5px black;
}

[class*=content-section-] p {
	position: absolute;
	text-align: center;
	font-size: 1.4em;	
	margin: 125px 40px 0 0px;
	text-shadow: 0 0 3px black, 0 0 5px black;	
}

.content-section-4 p {
	margin: 125px 25px 0 10px;
}

.content-img {
	width:100%;
	height: 100%;
}

.content-section-6 {
	margin-bottom: 5px;
}

[class*=content-section-] button {
	position: absolute;
	align-self: center;
	margin-top: 150px;
	background-color: #13693A;
    border: none;
    border-radius:5px;
    color: white;
    width: 10%;
    height: 6%;
    padding:3px;
    text-decoration: none;
    font-size: 1.2em;
}

[class*=content-section-] a {
	color: #fff;
}

@media only screen and (min-width: 767px) {
	.content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-shrink: 1;
	flex-grow: 1;
}

	.content section {
	flex-shrink: 1;
	flex-grow: 1;
	}

	.food {
		display: flex;
		flex-wrap: wrap;
		flex-shrink: 1;
		flex-grow: 1;
	}

	.food section {
		display: flex;
		flex-shrink: 1;
		flex-grow: 1;
		width: 350px;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	[class*=content-section-] h1 {
	align-self: flex-start;
	font-size: 2.5em;	
	}

	[class*=content-section-] p {
		margin: 0;
		width: 350px;
		text-align: center;
		font-size: 1.6em;
	}

	button {
		margin-top: 120px;
	}


	.content-section-5 {
		margin-bottom: 5px;
	}

	.startpage_img {
		margin-top: 0;
	}

	[class*=content-section-] button {
		font-size: 1.6em;
	}

}

/* Smaller desktop */
@media only screen and (min-width: 960px){
	.food section {
		flex-wrap: wrap;
		width: 450px;
		flex-shrink: 1;
		flex-grow: 1;
	}

}

@media only screen and (min-width: 1200px) {
	.food section {
		width: 600px;
		height: 600px;
		overflow: hidden;
	}

	[class*=content-section-] h1 {
	font-size: 3.5em;	
	}

	.startpage_img {
		margin-top: -180px;
	}

	.startpage_logo {
		margin-top: -70px;
	}

	.content-img {
		height: 800px;
		width: 850px;
	}

	[class*=content-section-] {
		margin-bottom: 5px;
	}

	.content-section2 {
		height: 120px;
	}
}

